:root {

    --font-sans: 'Roboto', sans-serif;
    --font-serif: 'Marhey', serif;

    --font-size: 16px;
    --font-scale: 1.25;

    --font-size-1: var(--font-size);
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) );    
    --font-size-small: calc( var(--font-size-1) / var(--font-scale) );

    --line-height: 1.6;

    --color-primary: #000;

    --color-secondary: #f1f1f1;

    --color-accent-red: #FE0000;
    --color-accent-yellow: #FFDF80;

    --border-radius: 5px;

    --padding-content: 2rem;

    --section-gap: 3.5rem;
    --section-gap-inner: 3rem;
    --gap-content: 2rem; 
    --gap-large: 1rem;
    --gap-small: 0.5rem;
}
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--font-sans);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

img {
   max-width: 100%;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

button {
    border: 0;
    background: none;
    font-family: var(--font-sans);
}

.site-header {
    display: grid;
    grid-template-columns: minmax(8px, 32px) [inner-start] 1fr [inner-end] minmax(8px, 32px);
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: var(--color-primary);
    z-index: 99;

    @media screen and (max-width: 768px) {
        height: 3.5rem;
    }

    @media screen and (max-width:567px) {
        grid-template-columns: 4px [inner-start] 1fr [inner-end] 4px;
    }
    
    &__inner {
        grid-column: inner;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    // img {
    //     height: 80px;
    // }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-small);
    @media screen and (max-width: 768px) {
        max-height: 2rem;
    }

    &__image {
        max-width: 48px;
        max-height: 57px;
        @media screen and (max-width: 768px) {
            max-height: 37px;
            max-width: 28px;
        }
    }

    &__text {
        padding-top: var(--gap-large);
        font-family: var(--font-serif);
        line-height: 1;
        display: flex;
        flex-direction: column;
        color: var(--color-accent-red);
    }
    
    .text--big {
        font-weight: 600;
        font-size: var(--font-size-3);
    }

    .text--small {
        font-size: var(--font-size-small);
        
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-content);

    &__list {
        display: flex;
        gap: var(--gap-content);
    }
    &__link {
        color: #f1f1f1;
    }

    &__button {
        background-color: var(--color-accent-red);
        color: var(--color-secondary);
        padding: 0.5em 1em;
        font-family: var(--font-sans);
        font-weight: 600;
    } 

}

.swiper {
    width: 100vw;
    height: 100vh;

    &__overlay {

        &::after {
            content: '';
            background-color: #00000049;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
        } 
    }
    &__title {
        position: absolute;
        top: 10rem;
        left: 10rem;
        font-size: var(--font-size-6);
        
    }
}

.food-menu {
    display: grid;
    grid-template-columns: minmax(1rem, 5rem)  [inner-start] 1fr [inner-end] minmax(1rem, 5rem);
    padding: var(--section-gap) 0 var(--section-gap) 0;

    @media screen and (max-width: 768px) {
    grid-template-columns: minmax(1rem, 1.5rem)  [inner-start] 1fr [inner-end] minmax(1rem, 1.5rem);        
    }

    &__inner {
        grid-column: inner;
    }

    &__title {
        font-size: var(--font-size-5);
        color: var(--color-accent-red);
        padding: var(--section-gap-inner) 0 var(--section-gap-inner) 0;
    }

    &__tabs {
        display: flex;
        gap: var(--gap-content);
        @media screen and (max-width: 567px) {
            gap: var(--section-gap);
        }
    }
    
    &__button {
        color: var(--color-secondary);
        font-size: var(--font-size-3);
        padding: 0 0 var(--gap-content) 0;
        cursor: pointer;
    }

    &__button--current {
        color: var(--color-accent-yellow);
    }

    &__content {
        display: flex;
        background-color: var(--color-secondary);
        padding: var(--gap-content);
    }
    
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap-content);
        
        @media screen and (max-width: 567px) {
            grid-template-columns: 1fr;
        }
    }

   
}

.card {
    display: flex;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    max-height: 8rem;
    
    &__content {
        padding: var(--gap-small);
        width: 70%;
    }

    &__title {
        font-size: var(--font-size-1);
    }

    &__price {
        font-size: var(--font-size-small);
        font-weight: 300;
    }

    &__text {
        font-size: var(--font-size-small);
        margin-top: var(--gap-small);
    }

    &__image {
        width: 30%;
        height: 100%;
    }
}

.food-menu__list:not(.food-menu__list--current) {
    display: none;
}

.map {
    padding: var(--section-gap) 0 var(--section-gap);
    width: 100%;
    height: 75vh;
}

.site-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--section-gap);

    &__logo {
        max-width: 15rem;

        @media screen and (max-width: 567px) {
            max-width: 8rem;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: var(--gap-content);

        h3 {
            font-size: var(--font-size-3);
            font-weight: 400;
            color: var(--color-accent-yellow);
            padding-bottom: var(--gap-small);
        }
    }
}

@media screen and (max-width: 768px) {
    :root {
        --font-size: 0.9rem;
        --section-gap: 2.5rem;
        --section-gap-inner: 2rem;
        --gap-content: 1.5rem; 
        --gap-large: 0.6rem;
        --gap-small: 0.3rem;
        --padding-content: 1rem;
    }
}

@media screen and (max-width:567px) {
    :root {
        --font-size: 0.8rem;
        --section-gap: 1.2rem;
        --section-gap-inner: 0.8rem;
        --gap-content: 0.7rem; 
        --gap-large: 0.5rem;
        --gap-small: 0.4rem;
        --padding-content: 0.7rem;
    }
}